/* -- GENERAL -- */

@font-face {
    font-family: Raleway;
    src: url(Police/Raleway-Medium.ttf);
}


body{
    font-family: Raleway;
}

/*-- HEADER + NAV--*/
header, section{
    margin-left: 1%;
}
nav{
    display:flex;
    height:80px;
    border: solid 1px black;
}

/* Partie: NAV / LOGO  */

.bloc_logo{
    height:100%;
    display: flex;
    align-items: flex-end;
}

.bloc_logo img{
    height:50px;
    
}
.lien_nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}

.link_nav{
    width: 140px;
    text-align: center;
    line-height: 83px;
    text-decoration: none;
}

.--hébergement{
    color:#0065FC;
    border-top: 3px #0065FC solid;
    text-align: center;
   
}

.--inscrire{
    color: #0065FC;
    font-family: Raleway;
    font-weight: bold;
}

/* Partie: Searchbar */

.title_searchbar{
    margin-top: 30px;
    font-size: 1.2em;
}

.subtitle_searchbar{
    font-weight: 100;
    margin-top: 10px;
    position:relative;
    bottom: 5px;
}

.searchbar{
    height: 45px;
    display:flex;
}
.searchbar label{
    width:55px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.searchbar input{
    width: 180px;
    padding-left: 20px;
    border-left:none;
    border-right: none;
    border-bottom: #F2F2F2 2px solid;
    border-top: #F2F2F2 2px solid;
    font-family: Raleway_bold;
}

.searchbar input::placeholder{
    color: black;
    font-size: 1.1em;
    font-family: Raleway;
}

.searchbar button{
    color: white;
    background: #0065FC;
    width: 110x;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: none;
    font-size: 0.9em;
}

/* Partie: Filtre */

.bloc_filtre{
    display:flex;
}

.title_filtre{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-weight: bold;
}
.filtre{
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.filtre i{
    background: #DEEBFF;
    display: flex;
    width:40px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color:blue;
    z-index: 1;
}



.filtre p{
    border: solid 1px black;
    height: 40px;
    margin-left: -15px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: solid #F2F2F2 3px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: none;
    z-index: 0;
}
.--animaux_autorisés p{
    width: 180px;
}

.info_number_location{
    line-height: 50px;
    display:flex;
    align-items: center;
}

.info_number_location i{
    color: blue;
    border: solid 2px #DEEBFF;
    border-radius: 1rem;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}


/* -- MAIN -- */

section{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "hebergement hebergement_populaire"
                                "Activité Activité";
    column-gap: 30px;
}

.bloc_hébergement{
    grid-area: hebergement;
    background:#F2F2F2;
    height: 580px;
    width: 780px;
    border-radius: 1rem;

}

.bloc_hébergement h2{
    font-size: 1.2em;
    margin-left:40px;
    line-height: 30px;
    position: relative;
    top: 20px;
   
}

.proposition_hébergement{
    display:grid ;
    width: 780px;
    height:480px;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "hebergement1 hebergement2 hebergement3"
                        "hebergement4 hebergement5  hebergement6";
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}

.proposition_hébergement figure{
    border: solid 5px white;
    border-radius: 1rem;
    height:195px;
    width:210px;
    background: white;
    margin:0;
}

.proposition_hébergement figure img{
    height: 110px;
    width: 210px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.proposition_hébergement figcaption h3{
    font-size: 0.9em;
    margin-top: 5px;
}

.proposition_hébergement figcaption p, .étoile{
    margin-top: -10px;
}

#Cannebière{
    grid-area: hebergement1;
}

#Port{
    grid-area: hebergement2;
}

#Mouettes{
    grid-area: hebergement3;
}

#Mer{
    grid-area: hebergement4;
}

#Panier{
    grid-area: hebergement5;
}

#Amina{
    grid-area: hebergement6;
}
.star_blue{
    color:#0065FC;
    font-size: 0.8em;
}

.star_grey{
    color: #F2F2F2;
    font-size: 0.8em;
}


.afficher_plus{
    background: none;
    border:none;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-left: 40px;
}

/* Partie: hébergement populaire */


.hebergement_populaire{
    grid-area: hebergement_populaire;
    background: #F2F2F2;
    height: 580px;
    width:400px;
    border-radius: 1rem;
}

.en-tete h2{
    font-size: 1.2em;
    margin-left: 30px;
    margin-top:40px
}

.proposition_heber_populaire{
    display:flex;
    flex-direction: column;
    

}

.proposition_heber_populaire figure{
    border: solid 5px white;
    border-radius: 1rem;
    height: 130px;
    width:320px;
    background: white;
    display:flex;
    margin-left: 25px;
    margin-top:5px;
}

.proposition_heber_populaire img{
    height: 130px;
    width: 130px;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
}

.proposition_heber_populaire figcaption{
    margin-left: 20px;
}

.proposition_heber_populaire h3{
    font-size: 0.9em;
    margin-top: 5px;
}
.proposition_heber_populaire figcaption p, .étoile{
    margin-top: -10px;

}