

/* -- GENERAL -- */

@font-face {
    font-family: Raleway;
    src: url(Police/Raleway-Medium.ttf);
}


body{
    font-family: Raleway;
    width: 1200px;
    margin: auto;
}


header, section{
    margin-left: 1%;
}

a{
    text-decoration: none;
}

/*-- HEADER (NAV + SEARCHBAR + FILTRES +INFOS)  --*/

nav{
    display:flex;
    height:80px;
}

/* Partie: NAV */

.bloc_logo{
    height:100%;
    display: flex;
    align-items: flex-end;
}

.bloc_logo img{
    height:50px;
}

.lien_nav{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width:100%;
}

.link_nav{
    width: 140px;
    text-align: center;
    line-height: 80px;
    text-decoration: none;
}

.--hébergement{
    color:#0065FC;
    border-top: 3px #0065FC solid;
    text-align: center;
   
}

.--inscrire{
    color: #0065FC;
    font-weight: bold;
}

/* Partie: Searchbar */

.title_searchbar{
    margin-top: 30px;
    font-size: 1.2em;
}

.subtitle_searchbar{
    margin-top: -5px;
    margin-bottom: 20px;
}

.searchbar{
    height: 40px;
    display:flex;
}
.searchbar label{
    width:55px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #F2F2F2;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.searchbar input{
    width: 180px;
    padding-left: 20px;
    border-left:none;
    border-right: none;
    border-bottom: #F2F2F2 2px solid;
    border-top: #F2F2F2 2px solid;
    font-family: Raleway_bold;
}

.searchbar input::placeholder{
    color: black;
    font-size: 1.1em;
    font-family: Raleway;
}

.searchbar button{
    color: white;
    font-weight: bold;
    background: #0065FC;
    width: 120px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border: none;
    font-size: 0.9em;
}

/* Partie: Filtre */

.bloc_filtre{
    display:flex;
    margin-top: 10px;
}

.title_filtre{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    font-weight: bold;
}
.filtre{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.filtre i{
    background: #DEEBFF;
    display: flex;
    width:40px;
    height: 50px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    color:blue;
    z-index: 1;
}



.filtre p{
    border: solid 1px black;
    height: 40px;
    margin-left: -15px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    border: solid #F2F2F2 3px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-left: none;
    z-index: 0;
}
.--animaux_autorisés p{
    width: 180px;
}

.bloc_info{
    display:flex;
    align-items: center;
    font-size: 0.9em;
    margin-top: 15px;

}

.bloc_info i{
    color: blue;
    border: solid 2px #DEEBFF;
    border-radius: 1rem;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}


/* -- MAIN -- */

section{
    display:grid;
    grid-template-columns: 780px 400px;
    grid-template-rows: 605px 1fr;
    grid-template-areas: "hebergement hebergement_populaire"
                                "Activité Activité";
    column-gap: 30px;
    margin-top: 15px;
}

.bloc_hébergement{
    grid-area: hebergement;
    background:#F2F2F2;
    height: 605px;
    width: 780px;
    border-radius: 1rem;

}

.bloc_hébergement h2{
    font-size: 1.2em;
    margin-left:40px;
    line-height: 30px;
    position: relative;
    top: 20px;
   
}

.proposition_hébergement{
    display:grid ;
    width: 780px;
    height:480px;
    grid-template-columns: 220px 220px 220px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "hebergement1 hebergement2 hebergement3"
                        "hebergement4 hebergement5  hebergement6";
    column-gap: 25px;
    align-items: center;
    justify-content: center;
}

.proposition_hébergement figure{
    border: solid 5px white;
    border-radius: 1rem;
    height:195px;
    width:210px;
    background: white;
    margin:0;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.proposition_hébergement figure img{
    height: 110px;
    width: 210px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    object-fit: cover;
}

.proposition_hébergement figcaption h3{
    font-size: 0.9em;
    margin-top: 5px;
}

.proposition_hébergement figcaption p, .étoile{
    margin-top: -10px;
}

.proposition_hébergement figcaption span{
    font-weight: bold;
}

#Cannebière{
    grid-area: hebergement1;
}

#Port{
    grid-area: hebergement2;
}

#Mouettes{
    grid-area: hebergement3;
}

#Mer{
    grid-area: hebergement4;
}

#Panier{
    grid-area: hebergement5;
}

#Amina{
    grid-area: hebergement6;
}
.star_blue{
    color:#0065FC;
    font-size: 0.8em;
}

.star_grey{
    color: #F2F2F2;
    font-size: 0.8em;
}


.afficher_plus{
    background: none;
    border:none;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    margin-left: 40px;
}

/* Partie: hébergement populaire */


.bloc_hebergement_populaire{
    grid-area: hebergement_populaire;
    background: #F2F2F2;
    height: 605px;
    width:400px;
    border-radius: 1rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.en-tete{
    display:flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 20px;
    margin-right: 30px;
    align-items: center;
    
}
.en-tete h2{
    font-size: 1.2em;
    
}

.en-tete i{
    font-size: 1.3em;
}


.proposition_heber_populaire{
    display:flex;
    flex-direction: column;
    margin-top: -10px;
    

}

.proposition_heber_populaire figure{
    border: solid 5px white;
    border-radius: 1rem;
    height: 130px;
    width: 340px;
    background: white;
    display:flex;
    margin-left: 25px;
    margin-bottom: 20px;
}

.proposition_heber_populaire img{
    height: 130px;
    width: 125px;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
    object-fit: cover;
}

.proposition_heber_populaire figcaption{
    margin-left: 20px;
}

.proposition_heber_populaire h3{
    font-size: 0.9em;
    margin-top: 5px;
}
.proposition_heber_populaire figcaption p{
    margin-top: -10px;

}

.étoile_populaire{
    margin-top:45px;
}

/* Partie: Activités */

.activites{
    display:grid;
    grid-template-columns: 325px 325px 325px 325px;
    grid-template-areas: "Vieux_Port Fort_Iles Parc_Calanques Notre_Dame_Parc";
    height:455px;
    column-gap: 35px;
    background: none;
}

.activites figure{
    height:455px;
    margin:0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius:1rem;
    

}

.activites figure figcaption{
    height: 55px;
    margin-top: -23px;
    width:325px;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: white;
    
}

.activites figcaption h3{
    font-size: 1em;
    position: relative;
    top:20px;
    left:20px;

}

.activites img{
    object-fit: cover;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width:325px;
}

#Vieux_Port{
        grid-area: Vieux_Port;
}

#Vieux_Port img{
    height: 400px;
}

#Fort_Pomègues{
    grid-area: Fort_Iles;
    height:255px;
}

#Fort_Pomègues img{
    height:200px;

}

#Iles_Frioul{
    grid-area: Fort_Iles;
    height:155px;
    margin-top: 300px;
}

#Iles_Frioul img{
    height:100px;
}

#Parc_Calanques{
    grid-area: Parc_Calanques;
}

#Parc_Calanques img{
    height:400px;

}

#Notre-Dame-de-la-Garde{
    grid-area: Notre_Dame_Parc;
    height:180px;
}

#Notre-Dame-de-la-Garde img{
    height:125px;
}

#Parc_Longchamp{
    grid-area: Notre_Dame_Parc;
    height: 235px;
    margin-top: 220px;
}

#Parc_Longchamp img{
    height:180px;
}


/* -- FOOTER --*/
footer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "About Hébergement Assistance";
    
}

#bloc_about{
    grid-area: About;
}

#bloc_about_hébergement{
    grid-area: Hébergement;
}

#bloc_assistance{
    grid-area: Assistance;
}






